*Numbers*

In [1]:
3*4

12

In [2]:
3**4

81

In [3]:
3/1

3.0

In [4]:
3/2

1.5

In [5]:
3/2.0

1.5

In [6]:
3%2

1

In [7]:
2 + 3 * 5 + 5

22

In [8]:
(2+3)*(5+5)

50

*variable assignment*

In [9]:
my_variable = 2

In [10]:
my_variable

2

In [11]:
numb1 = 5
numb2 = 9

In [12]:
numb1 * numb2

45

In [13]:
tot = numb1 + numb2

In [14]:
tot

14

*strings*

In [16]:
'this is a string'

'this is a string'

In [17]:
"this is a string"

'this is a string'

In [18]:
"wrap lot's of other quotes"

"wrap lot's of other quotes"

*Printing*

In [19]:
txt = 'Hello'

In [20]:
txt

'Hello'

In [21]:
print(txt)

Hello

In [22]:
name = "Joe"
age = 15

In [23]:
print("{} my name is {} and I'm {} years old.".format(txt, name, age) )

Hello my name is Joe and I'm 15 years old.

*Lists*

In [24]:
my_list = [1,2,3,4,5]

In [25]:
my_list

[1, 2, 3, 4, 5]

In [26]:
my_list[0]

1

In [27]:
my_list[1:]

[2, 3, 4, 5]

In [28]:
my_list[1:4]

[2, 3, 4]

In [29]:
my_list[-3]

3

In [31]:
my_list.append(6)

In [32]:
my_list

[1, 2, 3, 4, 5, 6]

In [38]:
my_list.append([10,11,12, [20,21]])

In [34]:
my_list

[1, 2, 3, 4, 5, 6, [10, 11, 12]]

In [35]:
my_list[6][1]

11

In [36]:
my_list[3] = 8

In [37]:
my_list

[1, 2, 3, 8, 5, 6, [10, 11, 12]]

In [39]:
my_list

[1, 2, 3, 8, 5, 6, [10, 11, 12], [10, 11, 12, [20, 21]]]

In [40]:
my_list[7][3][1]

21

*Dictionaries*

In [41]:
d = {"key1": "John", 'key2': "Jane"}

In [42]:
d['key1']

'John'

In [43]:
d['key3'] = "Bob"

In [44]:
d

{'key1': 'John', 'key2': 'Jane', 'key3': 'Bob'}

In [45]:
1 > 2

False

In [46]:
2<3

True

In [47]:
1>=1

True

In [48]:
1 <= 4

True

In [49]:
1 == 4

False

In [50]:
"joe" == "Joe"

False

*Logic Operators*

In [51]:
1 < 4 and 5 > 4

True

In [52]:
1 < 4 and 5 < 5

False

In [54]:
1 < 4 or 5<5

True

In [58]:
1 > 4 or "joe " == "joe " and 3 == 4

False

*if, elif, else Statement*

In [59]:
if 1 < 2:
    print("yes")

yes

In [61]:
if 1 > 2:
    print("Yes")
else:
    print("No")

No

In [66]:
if 1 == 2:
    print("First")
elif 3==3:
    print("Middle")
else:
    print('Last')

Middle

*for Loops*

In [67]:
seq = ['Alex', 'Albert', 'Annie', 'Matthew']

In [68]:
seq

['Alex', 'Albert', 'Annie', 'Matthew']

In [69]:
for name in seq:
    print(name)

Alex
Albert
Annie
Matthew

In [70]:
for jelly in seq:
    print(jelly + jelly)

AlexAlex
AlbertAlbert
AnnieAnnie
MatthewMatthew

In [71]:
seq = [1,2,3,4,5,6]

In [72]:
seq

[1, 2, 3, 4, 5, 6]

In [74]:
for num in seq:
    print(num**3)

1
8
27
64
125
216

In [75]:
seq

[1, 2, 3, 4, 5, 6]

In [78]:
i = 1
while i < 5:
    print("i is: {}".format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [79]:
range(5)

range(0, 5)

In [80]:
for i in range(5):
    print(i)

0
1
2
3
4

In [83]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

*List Comprehension*

In [84]:
seq

[1, 1, 3, 9, 5, 6]

In [85]:
seq = [1,2,3,4,5]

In [86]:
out = []

In [87]:
out

[]

In [88]:
for item in seq: 
    out.append(item ** 2)
    
print(out)

[1, 4, 9, 16, 25]

In [90]:
out2 = [item ** 2 for item in seq]

In [91]:
out2

[1, 4, 9, 16, 25]

*Functions*

In [96]:
def my_func(num):
    """
    Input: num
    Output: num raised to the third power
    """
    return num ** 3

In [93]:
my_func(9)

729

In [94]:
my_result = my_func(3)

In [95]:
my_result

27

In [97]:
print("{}".format(seq))

[1, 2, 3, 4, 5]